/* ------------------------- */
/*  Home Decks Content Area  */
/* ------------------------- */

.cover-search-decks {
    width: 40%;
}

.cover-search-decks input {
    padding: 7px;
    width: 100%;
}

.decks {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

.decks-header {
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.decks-text h5 {
    border-bottom-style: solid;
    border-width: 2px;
    border-color: white;
    padding-left: 2px;
    padding-bottom: 5px;
    margin: 0;
}

.deck-loader-container {
    width: 100%;
    height: 100%;
}

.deck-editor {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.deck-cover {
    margin-top: 25px;
    text-align: center;
    padding-top: 150 * 0.8px;
    padding-bottom: 150 * 0.8px;
    background-color: #0B0B0B;
}