
/* ----------------------- */
/*   Review Content Area   */
/* ----------------------- */

.review-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #C38A39;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.review-header div {
    font-size: 18px;
}

.review-right {
    display: flex;
}

.review-right div {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-right: 1px solid white;
    width: 100%;
    height: 100%;
    transition: 400ms ease-out;
    align-items: center;
}

.review-right .review-create div:hover {
    transition: 400ms ease-out;
    background-color: white;
    color: black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.review-right div:hover {
    transition: 400ms ease-out;
    background-color: white;
    color: black;
}

#review-search-bar {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 18px;
    background-color: #131621;
    color: white;
}

.review-left {
    position: relative;
    font-family: Arial, sans-serif;
    width: 150px;
}

.review-sort-selected {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    background: #f9f9f900;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sort-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #3c3c3c;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    border-radius: 8px;
}

.sort-option {
    padding: 10px;
    cursor: pointer;
}

.sort-option:hover {
    border-radius: 8px;
    background: #f0f0f0;
}
