root-menu,
mod-menu {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: fit-content;
}

/* Top component */
role-button,
assign-role-button,
role-create {
    background-color: var(--root-button-color);
    padding: 8px 15px;
    border-radius: 10px;
    transition: background-color ease-in 0.2s;
    cursor: pointer;
}

root-div,
root-div p {
    display: flex;
    gap: 10px;
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    align-items: center;
}

root-div p {
    width: fit-content;
    margin: 0;
}

root-div div {
    display: flex;
    gap: 5px;
    align-items: center;
}

/* List component */
list-item {
    margin-top: 10px;
    border-radius: 8px;
    background-color: var(--menu-primary-color);
    border: var(--content-border);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: auto;
    padding: 10px;
}

role-item,
role-clickable {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #343343;
    border-radius: 8px;
    align-items: center;
}

role-front,
role-front p {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0;
}

role-mid,
role-mid p {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0;
}

role-behind {
    user-select: none;
    display: flex;
    gap: 5px;
}

role-behind button {
    background-color: var(--root-role-ul);
    border: none;
    border-radius: 8px;
    padding: 8px;
    width: 48px;
    height: 48px;
    text-align: center;
    align-items: center;
    display: block;
    transition: background-color ease 0.2s;
    cursor: pointer;
}

/*-----------*/
/* Edit-Page */
/*-----------*/

permission-setting {
    display: flex;
    gap: 10px;
}

.permission-header,
.permission-details,
.permission-bottom {
    padding: 10px;
    background-color: var(--menu-primary-color);
    border-radius: 10px;
    margin-bottom: 10px;
}

list-item h5 {
    margin-bottom: 5px;
}

.role-container,
.role-container p {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
    font-size: 16px;
}

permission-container {
    margin-top: 10px;
    border-radius: 8px;
    display: block;
    background-color: var(--root-list-item);
    width: 100%;
    height: 68vh;
    padding: 10px;
}

role-confirm {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 2vh;
    width: 100%;
    height: 10vh;
    background-color: var(--root-list-item);
    align-items: center;
    padding: 5px 15px;
}

role-confirm .role-button {
    display: flex;
    gap: 10px;
}

#reset-role {
    background-color: transparent;
}

#submit-role {
    padding: 10px;
}

.role-container .checkbox-custom {
    scale: 0.8;
    align-items: center;
}


/*----------*/
/* Dropdown */
/*----------*/
role-dropdown {
    min-width: 12em;
    position: relative;
}

selected-role {
    width: 100%;
    background-color: #2b2730;
    display: flex;
    justify-content: space-between;
    padding: 7px 25px;
    border-radius: 10px;
    user-select: none;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

role-dropdown ul {
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: #2b2730;
    border: 1px #5e526b solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    position: absolute;
    width: 100%;
    cursor: pointer;
    user-select: none;
    top: 3em;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 5;
}

/* prepare for Js */
role-dropdown .menu-open {
    display: block;
    opacity: 1;
}

role-dropdown ul li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.previous,
.next{
    padding: 5px 25px;
    background-color: var(--root-button-color);
    border-radius: 8px;
    border: none;
}
/*---------*/
/* MOD LOG */
/*---------*/

mod-menu h2 {
    margin-bottom: 12px;
}

.mod-header {
    justify-content: space-between;
    margin-bottom: 24px;
}

.log-header {
    margin-bottom: 12px;
}

.log-item{
    margin-bottom: 8px;
}
.log-header,
.log-item {
    width: 100%;
    display: flex;
    background-color: var(--menu-primary-color);
    border-radius: 10px;
    border: var(--content-border);
}

.title-name,
.title-action-type,
.title-message,
.title-timestamp,
#log-name,
#log-action,
#log-message,
#log-timestamp {
    width: 100%;
    text-align: center;
    padding: 8px;
}

/*---------------*/
/* USER-OVERVIEW */
/*---------------*/
delete-user {
    padding: 5px 10px;
}

delete-user div {
    padding: 2px 3px;
}

/*-------*/
/* HOVER */
/*-------*/
role-dropdown ul li:hover {
    background-color: #453f4e;
}

role-behind button:hover {
    background-color: var(--root-role-ul-hover);
}

selected-role:hover {
    background-color: #423b4b;
}

role-button:hover,
role-create:hover,
assign-role-button:hover {
    background-color: var(--root-button-hover);
}