@font-face {
    font-family: "CodeNewRoman Nerd Font";
    src: url("/fonts/CodeNewRoman/CodeNewRomanNerdFont-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CodeNewRoman Nerd Font";
    src: url("/fonts/CodeNewRoman/CodeNewRomanNerdFont-Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}