* {
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    min-width: 0;
    width: 100%;
    list-style-type: none;
}

.menuItem {
    position: relative;
}

.flex {
    display: flex;
}

.gap-2 {
    gap: .5rem;
}

.p-2 {
    padding: .5rem;
}

.topBar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: .5rem;
}

.username {
    height: 2.5rem;
    display: flex;
    align-items: center;
    border: solid;
    border-color: hsl(0deg 0% 14.9%);
}

.namePage {
    padding-left: .5rem;
    width: 100%;
    height: 2.5rem;
    align-items: center;
    gap: .5rem;
}

.spitPage {
    display: flex;
    min-height: 100svh;
    width: 100%;
    height: 100%;
    position: relative;
}

.slideBar {
    background-color: hsl(0deg, 0%, 5%);
    width: 150px;
    height: 100%;
    z-index: 9999;
}

.slideBottom {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.profileName {
    overflow: hidden;
    text-overflow: ellipsis;
}

.deck {
    color: white;
}