@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('/css/card_theme.css');

:root {
    --theme-color: #d8974d;
    --primary-color: #1b1d24;
    --alert: #ff8989;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-blend-mode: normal, normal, normal, overlay, normal, normal;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(147, 165, 182, 0.308);
    backdrop-filter: blur(2px);
    height: 50px;
    width: 60%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    margin-top: 10px;
    z-index: 1000;
    border-radius: 12px;
    border: 2px solid rgba(159, 165, 192, 0.473);
    font-size: 20px;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    height: 100%;
}

nav ul.right li a {
    display: flex;
    font-weight: bold;
    min-width: 75px;
    background: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.icon {
    background-color: white;
    -webkit-mask: url(/imgs/icon.svg) no-repeat center;
    mask: url(/imgs/icon.svg) no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    width: 50px;
    height: 50px;
    margin-right: -12px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    gap: 10vh;
}

.slogan {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.slogan h1,
.slogan h1 span {
    font-family: "Sansita", sans-serif;
    font-size: 3.5vw;
    text-align: center;
    width: fit-content;
}

.slogan p {
    font-size: 1vw;
}

.preview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    scale: 0.8;
}